<div class="p-3">
  <div class="m-col  text-center col-img mt-3">
    <img src="assets/img/InterAgroF1.png" alt="Logo" style="width: 70%; height: auto;">
  </div>
  <br>
  <div class="separator"></div>
  <div class="body-modal text-center ">
    <h3>Acceso Denegado </h3>
    <div class="m-row mt-3">
      <div class="m-col">
        <h6>Ocurrió un problema o puede que este usuario no exista en el sistema, contacte a su administrador</h6>
      </div>
      <div class="m-col text-right mt-3">
        <button type="button" mat-flat-button color="primary" (click)="close()">
          <mat-icon>close</mat-icon>
          Salir
        </button>
      </div>
    </div>
  </div>
</div>
