<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
            Búsqueda Avanzada
          </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card class="classCardFilter">
          <mat-card-content>
              <form [formGroup]="myForm" autocomplete="off">
                  <div>
                      <mat-form-field appearance="outline" class="classCardFilter-input">
                          <mat-label>
                             Pais
                          </mat-label>
                          <input matInput formControlName="paisid">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="classCardFilter-input">
                          <mat-label>
                             Código
                          </mat-label>
                          <input matInput formControlName="codigo">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="classCardFilter-input">
                          <mat-label>
                             id_DIAN
                          </mat-label>
                          <input matInput formControlName="id_DIAN">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="classCardFilter-input">
                          <mat-label>
                             Nombre Pais
                          </mat-label>
                          <input matInput formControlName="descripcion">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="classCardFilter-input">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="status">
                            <mat-option value="true">Activo</mat-option>
                            <mat-option value="false">Inactivo</mat-option>
                        </mat-select>
                    </mat-form-field>

                  </div>

                  <div class="button-container">
                      <button type="button" mat-flat-button color="primary" (click)="clearSearch()">
                        <mat-icon>delete</mat-icon>
                        Limpiar
                      </button>

                      <button type="button" mat-flat-button color="primary" (click)="advancedSearch()" >
                          <mat-icon>search</mat-icon>
                        Buscar
                      </button>
                  </div>
              </form>
          </mat-card-content>
      </mat-card>
  </mat-expansion-panel>
</mat-accordion>

<div class="table-buttons">
  <button mat-flat-button color="primary" (click)="addCause()">
    <mat-icon>add</mat-icon>
     Crear
  </button>
  <button mat-flat-button color="primary" (click)="downloadData()">
    <mat-icon>download</mat-icon>
    Descargar
  </button>
</div>
